@import '../../theme/variables.scss';

.apto-button {
    margin: 0;
    background: none;
    border: none;
    font-family: $font-family-base;
    font-size: $font-size-sm;
    border-radius: 3px;
    padding: 1rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    &:disabled {
        cursor: not-allowed;
    }
}

.apto-button--link {
    padding: 0;
}

.apto-button--primary {
    color: $white;
    background-color: $blue-500;
    &:hover {
        background-color: darken($blue-500, 15%);
    }
    &:disabled {
        background-color: $gray-400;
    }
}

.apto-button--link.apto-button--primary {
    color: $blue-500;
    background-color: transparent;
    &:hover {
        color: darken($blue-500, 15%);
    }
    &:disabled {
        color: lighten($blue-500, 15%);
    }
}

.apto-button--link.apto-button--secondary {
    color: $gray-500;
    background-color: transparent;
    &:hover {
        color: darken($gray-500, 15%);
    }
    &:disabled {
        color: lighten($gray-500, 15%);
    }
}